<a href="https://colab.research.google.com/github/TrongHung64/Demo/blob/dev/baitaptuan4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
open('sales.db','w')

In [2]:
import sqlite3
conn = sqlite3.connect('sales.db')
c = conn.cursor()

In [3]:
c.execute("create table Employee \
    (\
        Employee_ID interger primary key, \
        First_Name text, \
        Last_Name text, \
        Department text, \
        City text \
    )\
")

In [ ]:
c.execute('delete from employee')

In [7]:
c.execute("select * from Employee")
print(c.fetchall())

[(10001, 'daniel', 'olson', 'Electronics', 'San Franciso'), (10002, 'Nick', 'Markmen', 'Clothes', 'San Francisco'), (10003, 'Maria', 'Gonzales', 'Electronics', 'San Jose'), (10004, 'George', 'Wong', 'Clothes', 'San Francisco'), (10005, 'Stephanie', 'Wiliams', 'Clothes', 'Oakland'), (10006, 'Miguel', 'Alva', 'Clothes', 'Oakland'), (10007, 'Jessica', 'Collins', 'Cosmetics', 'San Francisco'), (10008, 'Ted', 'Anderson', 'Clothes', 'Oakland'), (10009, 'Victoria', 'Garcia', 'Clothes', 'San Jose'), (100010, 'Jasnine', 'Khan', 'Pharmacy, Health & Beauty', 'Oakland'), (100011, 'Adam', 'Smith', 'Pharmacy, Health & Beauty', 'San Jose'), (100012, 'Rachel', 'Kim', 'Electronics', 'San Jose')]

In [5]:
c.execute("insert into Employee values(10001,'daniel', 'olson', 'Electronics', 'San Franciso')")

In [6]:
mangemployee = [
(10002, 'Nick', 'Markmen', 'Clothes', 'San Francisco'),
(10003, 'Maria', 'Gonzales', 'Electronics', 'San Jose'),
(10004, 'George', 'Wong', 'Clothes', 'San Francisco'),
(10005, 'Stephanie', 'Wiliams', 'Clothes', 'Oakland'),
(10006, 'Miguel', 'Alva', 'Clothes', 'Oakland'),
(10007, 'Jessica', 'Collins', 'Cosmetics', 'San Francisco'),
(10008, 'Ted', 'Anderson', 'Clothes', 'Oakland'),
(10009, 'Victoria', 'Garcia', 'Clothes', 'San Jose'),
(100010, 'Jasnine', 'Khan', 'Pharmacy, Health & Beauty', 'Oakland'),
(100011, 'Adam', 'Smith', 'Pharmacy, Health & Beauty', 'San Jose'),
(100012, 'Rachel', 'Kim', 'Electronics', 'San Jose'),
]
c.executemany('insert into Employee values(?,?,?,?,?)', mangemployee)

In [8]:
c.execute("create table Customer (\
            Customer_ID integer primary key, \
            First_Name text, \
            Last_Name text, \
            City text)")

In [ ]:
customers = [
(20001, 'Jack', 'Ward', 'San Jose'),
(20002, 'Steven', 'Martinez', 'San Francisco'),
(20003, 'George', 'Wong', 'Clothes', 'San Francisco'),
(20004, 'Stephanie', 'Wiliams', 'Clothes', 'Oakland'),
(20005, 'Miguel', 'Alva', 'Clothes', 'Oakland'),
(20006, 'Jessica', 'Collins', 'Cosmetics', 'San Francisco'),
(20007, 'Ted', 'Anderson', 'Clothes', 'Oakland'),
(20008, 'Victoria', 'Garcia', 'Clothes', 'San Jose'),
(20009, 'Victoria', 'Garcia', 'Clothes', 'San Jose'),
(200010, 'Jasnine', 'Khan', 'Pharmacy, Health & Beauty', 'Oakland'),
(200011, 'Adam', 'Smith', 'Pharmacy, Health & Beauty', 'San Jose'),
(200012, 'Rachel', 'Kim', 'Electronics', 'San Jose'),
]
c.executemany('insert into Employee values(?,?,?,?,?)', mangemployee)

In [9]:
c.execute("select * from Customer")
print(c.fetchall())

[]